@charset "UTF-8";



@media (max-width: 700px) {

    .topo {
        height: auto;
        padding-bottom: 150px;
    }

    .space1 {
        padding-top: 160px;
        
    }
    
    .banner1 {
        max-width: 80%;
    }

    .banner1 > h1 {
        font-size: 20px;
    }
    
    .banner1 > h2 {
        font-size: 15px;
    }

    .grid-topo {
        display: flex;
        flex-direction: column;
    }

    .topo-esquerda {
        width: auto;
        height: auto;
        padding-bottom: 150px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .text-plataformas {
        max-width: 300px;
        margin: auto;
        margin-top: 150px;
    }
    
    .text-plataformas > h1 {
        font-family: museosans900;
        color: white;
        font-size: 18px;
        margin-bottom: 23px;
        letter-spacing: 2px;
    
    }
    
    .text-plataformas > h2 {
        font-family: museosans500;
        color: white;
        font-style: italic;
        font-size: 14px;
        font-weight: lighter;
        letter-spacing: 1.5px;
    }

    .topo-direita {
        width: auto;
        height: auto;
        padding-bottom: 150px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .platforms-container {
        border-radius: 30px;
        max-width: 800px;
        padding: 20px 30px 25px 30px;
        
        
    }

    .row-platforms {
        display: flex;
        flex-wrap: wrap;
    }

    .platforms {
        width: 80px;
    }
    

    .full2 {
        height: auto;
    }

    .full3 {
        height: auto;
    }

    .full4 {
        height: auto;
        padding-bottom: 60px;
        padding-top: 60px;
    }
    

    .logo-titulo img{
        width: 200px;
    }

    .row-clientes {
        padding-bottom: 57px;
    }

    

    .clientes {
        padding: 20px 20px;
        width: 100px;
        height: 80px;
    }

    .bloco1, .bloco2, .bloco3 {
        max-width: 340px;
        height: 450px;
        margin: auto;
        margin-bottom: 60px;
        margin-top: 60px;
        
    }

    .plataformas-clientes {
        width: 100%;
        display: flex;
        justify-content: space-between;
        
    }


    

    


}


@media (max-width: 1290px) {

    .topo {
        height: auto;
        padding-bottom: 150px;
    }

    .space1 {
        padding-top: 160px;
        
    }
    
    .banner1 {
        max-width: 80%;
    }

    .banner1 > h1 {
        font-size: 25px;
    }
    
    .banner1 > h2 {
        font-size: 20px;
    }

    .grid-topo {
        display: flex;
        flex-direction: column;
    }

    .topo-esquerda {
        width: auto;
        height: auto;
        padding-bottom: 150px;
    }

    .text-plataformas {
        max-width: 800px;
        margin: auto;
        margin-top: 180px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .text-plataformas > h1 {
        font-family: museosans900;
        color: white;
        font-size: 25px;
        margin-bottom: 23px;
        letter-spacing: 2px;
    
    }
    
    .text-plataformas > h2 {
        font-family: museosans500;
        color: white;
        font-style: italic;
        font-size: 20px;
        font-weight: lighter;
        letter-spacing: 1.5px;
    }

    .topo-direita {
        width: auto;
        height: auto;
        padding-bottom: 150px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .platforms-container {
        border-radius: 30px;
        max-width: 800px;
        padding: 20px 30px 25px 30px;
        
        
    }

    .row-platforms {
        display: flex;
        flex-wrap: wrap;
    }

    .platforms {
        width: 80px;
    }
    

    .full2 {
        height: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .full3 {
        height: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .full4 {
        height: auto;
        padding-bottom: 60px;
        padding-top: 60px;
    }
    

    .logo-titulo img{
        width: 200px;
    }

    .row-clientes {
        padding-bottom: 57px;
    }

    

    .clientes {
        padding: 20px 20px;
        width: 100px;
        height: 80px;
    }

    .bloco1, .bloco2, .bloco3 {
        max-width: 340px;
        height: 450px;
        margin: auto;
        margin-bottom: 60px;
        margin-top: 60px;
        
    }

    .plataformas-clientes {
        width: 100%;
        display: flex;
        justify-content: space-between;
        
    }
    


}