@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



html ::-webkit-scrollbar {
    width: 8px;
  }
  html ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--cor2);
  }
  html ::-webkit-scrollbar-track {
    background: var(--cor0);
  }


:root {
    --cor0:#99CFFF;
    --cor1:#5CB3FF;
    --cor2:#006DCC;
    --cor3:#0057A3;
    --cor4:#003666;
    --cor5:#001629;

    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
}


* {
    margin:  0px;
    padding: 0px;
}


body {
    background-color: black;
    background-image: url("imagens/bg.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    
}


.container {

}


nav {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    
}


.logo-1 {
    width: 260px;
}


.nav-list {
    display: flex;
    list-style: none;
    align-items: center;
}


.nav-list li{
    font-family: var(--fonte-destaque);
    letter-spacing: 0.1em;
    padding: 8px;
    border-radius: 8px;
}


.nav-list li a{
    color: var(--cor1);
    font-size: 18px;
    transition: 0.3s;
    text-decoration: none;
    padding: 8px;
    border-radius: 8px;
}


.nav-list li a:hover {
    opacity: 0.8;
    background-color: var(--cor4);
}


main{
    height: 85vh;
}


main p {
    color: white;
}


footer {
    font-family: var(--fonte-padrão) ;
    background-color: var(--cor5);
    padding: 10px;
    color: white;
    text-align: center;
}


footer a {
    font-weight: bold;
    text-decoration: none;
    color: var(--cor1);
    border-radius: 10px;
    padding: 5px;
    
}


footer a:hover {
    background-color: var(--cor4);
    padding: 5px;
    
}


@media (max-width: 745px) {
    

    .logo-1 {
        margin-bottom: 0px;
        margin: 10px 0px 1px 0px;
    }



    nav {
        margin: 0px;
        height: 125px;
    }



    .nav-list {
        position: absolute;
        top: 80px;
    }


    
    .nav-list li {
        margin: 0px;
    }



    .nav-list li:not(:last-child)::after {
        content: "|"; /* Caractere ou conteúdo que será exibido entre os itens */
        margin: 0px -22px 0px -7px; /* Margem opcional para ajustar o espaço entre o caractere e os itens */
        color: #99CFFF;
    }
    


    .nav-list li a:hover {
        
    }
}