@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



html ::-webkit-scrollbar {
    width: 8px;
  }
  html ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--cor2);
  }
  html ::-webkit-scrollbar-track {
    background: var(--cor0);
  }


:root {
    --cor0:#e62ef8;
    --cor1:#3d91db;
    --cor2:#F2CB05;
    --cor3:#ffe0e3;
    --cor4:#00c081;
    --cor5:#fe8b82;
    --cor6:#ed1846;

    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
}


* {
    margin:  0px;
    padding: 0px;
}


body {
    background-color: black;
    background-image: url("imagens/bg.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    
}


header.container {
    position: sticky;
    top: 15px;
    z-index: 999;
}




nav {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    
}


.logo {
    
    width: 260px;
}

  

.nav-list {
    display: flex;
    list-style: none;
    align-items: center;
}


.nav-list li{
    font-family: var(--fonte-destaque);
    letter-spacing: 0.1em;
    padding: 8px;
    border-radius: 8px;
}


.nav-list li a{
    color: white;
    font-size: 22px;
    transition: 0.3s;
    text-decoration: none;
    padding: 8px;
}


.nav-list li a:hover {
    opacity: 0.5;
}




main p {
    color: white;
}

main > div#full-banner {
    background-color: #006DCC;
    width: 100%;
    height: 700px;
}

main > div#grid-top {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0px;
}

main > div > div#top-left {
    background-color: orange;
    height: 560px;
    margin-right: 0px;
}

main > div > div#top-right {
    background-color: white;
    height: 560px;
}



footer {
    height: 100px;
    font-family: var(--fonte-padrão) ;
    background-color: var(--cor5);
    color: white;
    text-align: center;
}
footer > p {
    padding: 40px;
}


footer > p > a {
    font-weight: bold;
    text-decoration: none;
    color: var(--cor1);
    border-radius: 10px;
    
    
}


footer > p:hover {
    opacity: 0.5;
}


