@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



html ::-webkit-scrollbar {
    width: 8px;
  }
  html ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--cor2);
  }
  html ::-webkit-scrollbar-track {
    background: var(--cor0);
  }




:root {
    --cor0:#99CFFF;
    --cor1:#5CB3FF;
    --cor2:#006DCC;
    --cor3:#0057A3;
    --cor4:#003666;
    --cor5:#001629;

    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
}




* {
    margin:  0px;
    padding: 0px;
}




body {
    overflow-y: auto;
}




nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;

}




.logo-1 {
    width: 200px;
}



.space-bg {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    z-index: -1;
    max-width: 100%;
}

.nav-list {
    list-style: none;
    display: flex;
}




.nav-list li {
    font-family: var(--fonte-destaque);
    letter-spacing: 0.1em;
    margin-left: 20px;
    padding: 8px;
    border-radius: 8px;
    
}



.nav-list li a{
    color: var(--cor1);
    font-size: 20px;
    transition: 0.3s;
    text-decoration: none;
    padding: 8px;
    border-radius: 8px;
}




.nav-list li a:hover {
    opacity: 0.7;
    background-color: var(--cor4);
}




footer {
    font-family: var(--fonte-padrão) ;
    background-color: var(--cor5);
    padding: 10px;
    color: white;
    text-align: center;
    margin-top: -5px;
}



footer a {
    font-weight: bold;
    text-decoration: none;
    color: var(--cor1);
    padding: 5px;
    
}





@media (max-width: 745px) {
    nav img {
        margin-bottom: 15px;
    }
    nav {
        height: 150px;
        justify-content: center;
    }
    
    .nav-list li a {
        padding: 0px;
    }
    

    .nav-list {
        position: absolute;
        top: 105px;
    }

    .nav-list li a:hover {
        background: #ffffff00;
    }
    
}