@charset "UTF-8";

body {
    background-color: black;
    background-image: url("imagens/bg.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    
}


.container {

}




nav {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    
}


.logo {
    width: 260px;
}


.nav-list {
    display: flex;
    list-style: none;
    align-items: center;
}


.nav-list li{
    font-family: var(--fonte-destaque);
    letter-spacing: 0.1em;
    padding: 8px;
    border-radius: 8px;
}


.nav-list li a{
    color: var(--cor1);
    font-size: 18px;
    transition: 0.3s;
    text-decoration: none;
    padding: 8px;
    border-radius: 8px;
}


.nav-list li a:hover {
    opacity: 0.8;
    background-color: var(--cor4);
}


main{
}


main p {
    color: white;
}


footer {
    font-family: var(--fonte-padrão) ;
    background-color: var(--cor5);
    padding: 10px;
    color: white;
    text-align: center;
}


footer a {
    font-weight: bold;
    text-decoration: none;
    color: var(--cor1);
    border-radius: 10px;
    padding: 5px;
    
}


footer a:hover {
    background-color: var(--cor4);
    padding: 5px;
    
}
