@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



:root {
    --cor0:#99CFFF;
    --cor1:#5CB3FF;
    --cor2:#006DCC;
    --cor3:#0057A3;
    --cor4:#003666;
    --cor5:#001629;

    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
}

* {
    margin:  0px;
    padding: 0px;
}



nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background: var(--cor5);
    height: 80px;

}

nav img {
    width: 200px;
}

nav a {
    color: #006DCC;
    font-size: 20px;
    
    transition: 0.3s;
    text-decoration: none;
    font-family: var(--fonte-destaque);
    padding: 8px;
    border-radius: 8px;

}

nav a:hover {
    opacity: 0.7;
    background-color: #0057A3;
}

main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
}

main img {
    max-width: 300%;
}

.nav-list {
    list-style: none;
    display: flex;

}

.nav-list li {
    font-family: var(--fonte-padrão);
    letter-spacing: 0.1em;
    margin-left: 20px;
}


footer {
    font-family: var(--fonte-padrão) ;
    background-color: var(--cor5);
    padding: 10px;
    color: white;
    text-align: center;
    margin-top: -10px;
}

footer a {
    font-weight: bold;
    text-decoration: none;
    color: var(--cor1);
    padding: 5px;
    
}



@media (max-width: 999px) {
    nav img {
        margin-bottom: 15px;
    }
    nav {
        height: 140px;
        justify-content: center;
    }
    
    nav a {
        padding: 0px;
    }
    

    .nav-list {
        position: absolute;
        top: 105px;
    }
}